body {
  background: #000;
  padding: 1em;
  color: white;
  font-family: courier, monospace;
  text-align: center;
}

.avatar {
  background: url("../img/player.jpg");
  display: block;
  height: 32px;
  width: 32px;
}

canvas {
  float: left;
  border: 5px solid #333;
  padding: 1em;
}

#player-score {
  font-size: 300%;
}

a {
  font-size: 300%;
  display: block;
  color: inherit;
}

#game-over {
  color: red;
  font-family: 'Impact', sans-serif;
  font-size: 400%;
}
