$palette: (
  black: (base: #000000),
  white: (base: #FFFFFF),
  grey: (
    xx-dark: #2a2a2a,
    x-dark: #484648,
    dark: #636363,
    base: #999999,
    light: #ACAAAC,
    x-light: #DDDDDD,
    xx-light: #E7EBED,
    xxx-light: #FCFCFC,
  ),
  blue: (
    base: #959595,
    brand: #3fa8a8,
    dark: #495862
  ),
  red: (
    base: #832213
  )
);
