---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=SebAshton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="bm2xxIc1AurhDxAEchLOAelUc", oauth_nonce="7bf4008bc8e1b4c21e5b4cf092a113d3",
        oauth_signature="bbjHWfrz%2FHNoMd4zfmpwaN4TBtw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433498667", oauth_token="18778314-9QAv0SZDvHdcsDNK46fm9L5RIwgdLXzRsLX9oe6au",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 05 Jun 2015 10:04:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b69a3f12cabe8d89be0086cb3967f1ab
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1433499568'
      X-Response-Time:
      - '311'
      X-Transaction:
      - 00a6e091a6c36a3f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"users":[{"id":362160462,"id_str":"362160462","name":"barby_canziani","screen_name":"barby_canziani","location":"london","description":"working
        mum, self confessed geek and food lover living it up in London","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":75,"friends_count":377,"listed_count":0,"created_at":"Thu
        Aug 25 23:20:32 +0000 2011","favourites_count":93,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":41,"lang":"en","status":{"created_at":"Tue
        May 26 11:58:33 +0000 2015","id":603168341520416768,"id_str":"603168341520416768","text":"#expo2015
        25 degrees, UK pavillion,  pimps and lemonade http:\/\/t.co\/MaJXqSXgOf","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[{"text":"expo2015","indices":[0,9]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":603168334851497985,"id_str":"603168334851497985","indices":[56,78],"media_url":"http:\/\/pbs.twimg.com\/media\/CF7iZ6KWYAEOspj.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CF7iZ6KWYAEOspj.jpg","url":"http:\/\/t.co\/MaJXqSXgOf","display_url":"pic.twitter.com\/MaJXqSXgOf","expanded_url":"http:\/\/twitter.com\/barby_canziani\/status\/603168341520416768\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":191,"resize":"fit"},"medium":{"w":600,"h":337,"resize":"fit"},"large":{"w":1024,"h":576,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/598807712563068928\/TH6OCGHv_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/598807712563068928\/TH6OCGHv_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/362160462\/1431608088","profile_link_color":"DD2E44","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":2429612252,"id_str":"2429612252","name":"Hey
        | TYSM ATL","screen_name":"vianey_ash","location":"California ","description":"All
        Time Low Band Acc Followed 05\/9\/2015 I Love Music and Pizza Im not a people
        person so yeah...","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":848,"friends_count":1662,"listed_count":7,"created_at":"Sun
        Apr 06 00:12:35 +0000 2014","favourites_count":2113,"utc_offset":-14400,"time_zone":[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1473072952626300556&screen_name=SebAshton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="bm2xxIc1AurhDxAEchLOAelUc", oauth_nonce="0850b91674032ce52044de9060d3d84e",
        oauth_signature="5RthpjFUeR96pu4jRyH7r5vEwbk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433498668", oauth_token="18778314-9QAv0SZDvHdcsDNK4[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=LukeMorton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="bm2xxIc1AurhDxAEchLOAelUc", oauth_nonce="11a843d49fc1a0b3fcb187b8011364c1",
        oauth_signature="NVvrdDdLqz2A3TeAtZXxAAjFYYk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433498670", oauth_token="18778314-9QAv0SZDvHdcsDNK46fm9L5RIwgdLXzRs[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1493885480406248233&screen_name=LukeMorton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="bm2xxIc1AurhDxAEchLOAelUc", oauth_nonce="62521f695ed2b17249b2f37efbe0e6c3",
        oauth_signature="cI1GeI1tGrEGu30NxsCHKChpr6U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433498671", oauth_token="18778314-9QAv0SZDvHdcsDNK[...]
[...]
