---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=LukeMorton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="bm2xxIc1AurhDxAEchLOAelUc", oauth_nonce="87caed021d0d592ce5aeb9b0d2f5a7a3",
        oauth_signature="Pmctb7es%2BXLzjsXHPf2bVHt4eyo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432286782", oauth_token="18778314-gZWisVGXffyeNZiUwCp9wUGu4CnqVfSnC2I7dZ4rd",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 22 May 2015 09:26:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 237ddf242435e5e1ee1ca7d6cab10127
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1432287683'
      X-Response-Time:
      - '200'
      X-Transaction:
      - e9256bfa2a32399d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"users":[{"id":188921307,"id_str":"188921307","name":"Jan Matern","screen_name":"janmatern","location":"London","description":"Co-Founder
        and CEO @EmergeLab and Director at Edspace.io. Our Angellist syndicate: http:\/\/t.co\/O9TeqMqIni","url":"http:\/\/t.co\/YJYSYiSjGd","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/YJYSYiSjGd","expanded_url":"http:\/\/www.emerge.education","display_url":"emerge.education","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/O9TeqMqIni","expanded_url":"http:\/\/bit.ly\/1KeBb7M","display_url":"bit.ly\/1KeBb7M","indices":[83,105]}]}},"protected":false,"followers_count":3691,"friends_count":3679,"listed_count":123,"created_at":"Thu
        Sep 09 22:39:40 +0000 2010","favourites_count":437,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":300,"lang":"en","status":{"created_at":"Thu
        May 14 09:29:53 +0000 2015","id":598782274281275392,"id_str":"598782274281275392","text":"@JamesTaylor_me
        look behind you","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":598782202516746240,"in_reply_to_status_id_str":"598782202516746240","in_reply_to_user_id":109317028,"in_reply_to_user_id_str":"109317028","in_reply_to_screen_name":"JamesTaylor_me","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"JamesTaylor_me","name":"James
        Taylor","id":109317028,"id_str":"109317028","indices":[0,15]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/711830704\/472a9927d08c37414421e2704aefa125.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/711830704\/472a9927d08c37414421e2704aefa125.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/455714956374052864\/qJ-sf1uH_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/455714956374052864\/qJ-sf1uH_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/188921307\/1397485701","profile_link_color":"2EBF26","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"BEF202","profile_text_color":"88C425","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":2988622444,"id_str":"2988622444","name":"I
        Am Charlie - Book","screen_name":"iamcharliebook","location":"","description":"A
        poignant, powerful response to the horrific attacks on their colleagues in
        Paris. The world\u2019s top cartoonists team to produce I Am Charlie. Proceeds
        to CPJ.","url":"https:\/\/t.co\/KKVY5xjMI7","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/KKVY5xjMI7","expanded_url":"https:\/\/gum.co\/iamcharlie","display_url":"gum.co\/i[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1493885480406248233&screen_name=LukeMorton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="bm2xxIc1AurhDxAEchLOAelUc", oauth_nonce="906fbc9d40bf234b503cc58861ea8517",
        oauth_signature="yOF%2BKlUkHarQYKL3N%2Bmrnl8GOq8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432286783", oauth_token="18778314-gZWisVGXffye[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1394444066811837161&screen_name=LukeMorton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="bm2xxIc1AurhDxAEchLOAelUc", oauth_nonce="abafcd6a3d52c342634d739ce6e315e0",
        oauth_signature="6vFt9Q3p8z4pGVjeTrR2XdS%2FJKg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432286791", oauth_token="18778314-gZWisVGXffyeNZiUwCp9wUGu4CnqVfSnC2I7dZ4rd",
        oauth_version="1.0"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Connection-Hash:
      - 6d8a7beba116b06795787ecee24ea051
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '1432287683'
      X-Response-Time:
      - '107'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Rate limit exceeded","code":88}]}'
  recorded_at: Fri, 22 May 2015 09:26:31 GMT
recorded_with: VCR 2.9.3
