.vagrant
private/chef/tmp
private/chef/cookbooks
private/chef/data_bags/node
private/keys
tmp
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.zeus.sock
.nfs*
*.DS_Store
public/system
public/assets
report/
coverage/
vendor/cache/*
log/
.env
