@import 'susy';
@import 'compass/css3/appearance';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/inline-block';
@import 'compass/css3/transition';
@import 'mixins/fonts';
@import 'mixins/helpers';
@import 'mixins/media_queries';
@import 'mixins/palette';
@import 'vars/font_sizes';

@mixin form_text_label {
  @include font-neuzeit-book($font_size_medium);
  @include psd-letter-spacing(20);

  color: palette(white);
  display: block;
}

@mixin form_text_input($height: 50px, $width: 100%) {
  @include appearance(none);
  @include border-radius(3px);
  @include font-neuzeit-book($font_size_medium);
  @include psd-letter-spacing(20);
  @include transition(border-color .1s linear);

  background: palette(white);
  border: palette(grey, light) 1px solid;
  display: block;
  height: $height;
  padding: 0 18px;
  width: $width;

  &:focus {
    border-color: palette(grey, dark);
    outline: none;
  }
}

@mixin form_action($height: 50px, $width: 100%) {
  @include appearance(none);
  @include border-radius(3px);
  @include font-neuzeit-book($font_size_large);
  @include font-rendering-fix;
  @include transition(background .1s linear);

  background: palette(blue, brand);
  border: 0;
  color: palette(white);
  display: block;
  height: $height;
  margin: 0;
  padding: 0;
  text-align: center;
  width: $width;

  &:focus {
    background: darken(palette(blue, brand), 10);
    outline: none;
  }
}
